{
  "TWILIO_AUTH_TOKEN": "",
  "TWILIO_ACCOUNT_SID": "",
  "TWILIO_PHONE_NUMBER": "",
  "MANDRILL_API_KEY": "",
  "SEND_REPLIES_TO_EMAIL": "hello@example.org.au",
  "SEND_REPLIES_TO_NAME": "Example"
}

